.hero-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .checkered-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    z-index: 10;

    .row {
      display: flex;
    }

    .square {
      width: 2.6vw;
      height: 2.6vw;
    }

    @media screen and (max-width: 500px) {
      .square {
        width: 8vw;
        height: 8vw;
      }
    }
  }

  .leaf1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
  }

  .leaf2 {
    position: absolute;
    bottom: 30%;
    left: 0;
    width: 200px;
  }

  .leaf3 {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 300px;
  }

  .leaf4 {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 200px;
    transform: rotate(180deg) rotateY(180deg);
  }

  .soup-bowl {
    position: absolute;
    bottom: -5%;
    right: 60%;
    width: 300px;
  }

  .whisk {
    position: absolute;
    bottom: 12%;
    right: 35%;
    width: 350px;
    z-index: 2;
  }

  .hero-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    width: 100%;

    .home-text {
      z-index: 10;
      width: 100%;
      .title-wrapper {
        overflow: hidden;

        h2 {
          font-size: 7rem;
          font-family: "Gliker";
          text-shadow: 5px 5px 0px #b5d782;
          font-weight: 900;
          line-height: 1;
          margin-left: 140px;
        }

        @media screen and (max-width: 1300px) {
          h2 {
            font-size: 6rem;
            text-wrap: nowrap;
          }
        }
      }
    }

    .product-window {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;

      .product-frame {
        width: 75%;
        height: 65vh;
        border-radius: 185.5px 185.5px 0px 0px;
        border: 4px solid #b5d782;
        background: #fcf9e8;
        box-shadow: 8px 8px 0px 0px #b5d782;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;

        h2 {
          color: #b5d782;
          font-size: 20px;
          font-weight: 400;
          width: 10ch;
          text-align: center;
          text-transform: uppercase;
          margin-top: 50px;
          position: absolute;
          top: 0;
        }

        .slider {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          height: 100%;

          .navigation {
            position: absolute;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;

            .arrow {
              font-size: 30px;
              cursor: pointer;
              z-index: 10;
              transition: all 0.3s ease;

              &.left {
                left: 10px;
              }

              &.right {
                right: 10px;
              }

              &:hover {
                transform: scale(1.2);
              }
            }
          }
        }

        .image-container {
          width: 100%;
          position: absolute;
          overflow: hidden;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }

        .product-info {
          position: absolute;
          bottom: 0;
          width: 102%;
          border: 3px solid #b5d782;
          z-index: 2;

          .text-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            border-collapse: collapse;

            .grid-item {
              padding: 12px;
              border-right: 2px solid #b5d782;
              border-bottom: 2px solid #b5d782;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              color: #b5d782;
              font-size: 14px;
              font-weight: 200;

              &:last-child {
                border-right: none;
              }

              img {
                width: 60px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    .leaf1 {
      width: 120px;
    }

    .leaf2 {
      width: 120px;
    }

    .leaf3 {
      display: none;
    }

    .leaf4 {
      width: 120px;
      right: 0;
      top: 25%;
      left: auto;
      transform: rotate(0deg) rotateY(180deg);
    }

    .soup-bowl {
      width: 200px;
    }

    .whisk {
      width: 150px;
      right: 10%;
      bottom: 7%;
    }

    .hero-content {
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .home-text {
        margin-top: 40px;

        .title-wrapper h2 {
          text-align: center;
          text-shadow: 2px 2px 0px #b5d782;
          font-size: 3rem;
          margin: 0 auto;
        }
      }

      .product-window {
        margin-top: 50px;
        max-width: 300px;
        height: 450px;
        width: 100%;
        z-index: 10;

        .product-frame {
          width: 100%;
          height: 100%;
          border-radius: 185.5px 185.5px 0px 0px;
          border: 1px solid #b5d782;
          background: #fcf9e8;
          box-shadow: 3px 4px 0px 0px #b5d782;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;

          h2 {
            font-size: 14px;
            margin-top: 20px;
          }

          .image-container {
            width: 100%;
            height: auto;

            img {
              width: 100%;
              height: auto;
              object-fit: cover;
            }
          }
          .product-info .text-grid .grid-item img {
            width: 50px;
            height: auto;
          }
        }
      }
    }
  }
}
