.about-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 200px;
  padding: 10% 0;
  z-index: 20;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
    width: 100%;

    .neko {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .about-text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .title-bubble {
        background-color: #fdf8ce;
        border-radius: 100px 100px 0px 0px;
        box-shadow: 10px 0px 0px 0px #f6a09e;
        padding: 20px 30px 0;
        text-align: center;
        margin-inline: auto;
        width: 60%;
        height: 120px;

        h2 {
          margin-top: 20px;
          border-radius: 30px;
          font-family: "Genty";
          color: #f6a09e;
          font-size: 72px;
          font-weight: 400;
        }
      }

      .content {
        background-color: #fdf8ce;
        color: #f6a09e;
        border-radius: 40px;
        box-shadow: 10px 10px 0px 0px #f6a09e;
        padding: 20px 30px;
        z-index: 10;

        p {
          font-size: 1.6rem;
          font-family: "Stolzl";
          font-weight: 200;
          text-align: start;
          margin: 20px 0;
        }
      }
    }
  }

  .bottom {
    background-color: #fdf8ce;
    color: #f6a09e;
    border-radius: 40px;
    box-shadow: 10px 10px 0px 0px #f6a09e;
    max-width: 1600px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 100px;

    .founder-image {
      width: 400px;
      height: 500px;
      border-radius: 30px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
      }
    }

    .founder-text {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: start;
      flex-direction: column;
      flex: 1;
      gap: 20px;

      p {
        font-size: 1.6rem;
        font-family: "Stolzl";
        font-weight: 200;
        text-align: start;
        margin: 20px 0;
        width: 100%;

        &:last-child {
          text-align: end;
        }
      }
    }
  }
}
