.product-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10em 2em;
  align-items: center;
  gap: 2em;

  .top-container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 2em;
    gap: 2em;

    .left {
      width: 50%;

      .image-container {
        padding: 2em;
        border-radius: 20px;
        box-shadow: 3px 12px 0px -3px #f6a09e;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .image-wrapper {
          width: 50%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .thumbnails {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          gap: 0.5em;

          .thumbnail {
            width: 100px;
            height: 100px;
            border-radius: 20px;
            transition: all 0.3s ease;
            overflow: hidden;

            &:hover {
              cursor: pointer;
              transform: scale(0.9);
              box-shadow: 0px 0px 5px 2px #f6a09e;
            }

            img {
              width: 100%;
              height: 100%;
              border-radius: 20px;
              object-fit: cover;
              transition: all 0.3s ease;
            }

            &:hover img {
              transform: scale(1.2);
            }
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 2em;

      .top {
        display: flex;
        justify-content: start;
        align-items: start;
        flex-direction: column;

        h2 {
          font-size: 4em;
          font-weight: 400;
        }

        p {
          font-size: 1.3em;
          font-weight: 200;
          text-align: justify;
        }
      }

      .bottom {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 2em;

        .bottom-top {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 2em;

          p {
            font-size: 1.3em;
            font-weight: 200;
            color: #f6a09e;
            background-color: #fdf8ce;
            padding: 0.5em 1em;
            border-radius: 10px;
            box-shadow: 3px 12px 0px -3px #f6a09e;
          }

          h2 {
            font-size: 4em;
            font-weight: 400;
            color: #fdf8ce;
            border-radius: 10px;
          }
        }

        .bottom-bottom {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
          gap: 2em;

          select {
            width: 80px;
            height: 50px;
            border-radius: 10px;
            background-color: #fdf8ce;
            border: none;
            color: #f6a09e;
            font-size: 1.3em;
            font-weight: 200;
            padding: 0.5em 1em;
            box-shadow: 3px 12px 0px -3px #f6a09e;

            &:focus {
              outline: none;
            }

            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              border-color: #999;
            }
          }

          button {
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
            height: 50px;
            border-radius: 10px;
            background-color: #fdf8ce;
            border: none;
            color: #f6a09e;
            font-size: 1.3em;
            font-weight: 200;
            text-transform: uppercase;
            padding: 0.5em 1em;
            box-shadow: 10px 10px 0px -3px #f6a09e;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
              background-color: #f6a09e;
              color: #fdf8ce;
              box-shadow: 6px 6px 0px -3px #fdf8ce;
              transform: scale(1.05);
            }

            &:active {
              box-shadow: 8px 8px 0px -3px #fdf8ce;
              transform: scale(0.96);
            }
          }
        }
      }
    }
  }

  .bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50%;
    width: 100%;
    gap: 2em;

    .left-container {
      width: 60%;
      height: 400px;

      .wrapper {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        overflow: hidden;
      }
    }

    .right {
      width: 40%;
      height: 100%;
      border-radius: 20px;
    }
  }
}
