.swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 10;

  .swiper-pagination-bullet {
    width: 80px;
    height: 8px;
    background-color: #f6a09e;
    opacity: 1;
    margin: 0 25px;
    transition: all 0.3s ease;
    border-radius: 20px;
  }
  .swiper-pagination-bullet-active {
    background-color: #b5d782;
    transform: scale(1.2);
  }

  @media screen and (max-width: 768px) {
    gap: 5px;
    .swiper-pagination-bullet {
      width: 40px;
      height: 6px;
    }
    .swiper-pagination-bullet-active {
      transform: scale(1.1);
    }
  }
}
