.curved-marquee {
  width: 100%;
  overflow: hidden;
  background-color: transparent;

  svg {
    width: 100%;
    height: 300px;

    text {
      fill: #fff1cc;
      font-size: 30px;
      font-weight: bold;
      font-weight: 500;
      font-family: "Stolzl";
    }
  }

  // Tablet (768px)
  @media (max-width: 1560px) {
    svg {
      margin-bottom: 60px;
      height: 180px;
    }

    text {
      font-size: 22px;
    }

    use {
      stroke-width: 70px;
    }
  }

  // Small Tablets and Large Phones
  @media (max-width: 768px) {
    svg {
      height: 130px;
    }

    text {
      font-size: 26px;
    }

    use {
      stroke-width: 38px;
    }
  }

  // Mobile (500px)
  @media (max-width: 500px) {
    svg {
      height: 250px;

      text {
        font-size: 24px;
      }
    }
  }

  // Extra Small Mobile (400px)
  @media (max-width: 425px) {
    svg {
      height: 240px;
    }

    text {
      font-size: 20px;
    }
  }

  // Extra Small Mobile (350px)
  @media (max-width: 350px) {
    svg {
      height: 200px;
    }

    text {
      font-size: 18px;
    }
  }
}
